* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #F1F1F1;
}

input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    box-sizing: border-box;
  }

hr {
    margin: 8px;
}

.error-msg {
    color: red;
}

.success-msg {
    color: green;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.mt-1 {
    margin-top: 10px;
}

.ml-1 {
    margin-left: 5px;
}

.mt-article {
    margin-bottom: 8px;
}

/* Navigation bar */

.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0.5vw;
    overflow: hidden;
    background-color: white;
}
  
.li-nav-logo {
    margin-left: 3vw;
    float: left;
    font-weight: bold;
}

.li-nav-logo a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li-nav {
    float: right;
}

.li-nav-btn {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li-nav-btn:hover {
    background-color: #F6F6F6;
}

.card {
    margin: auto;
    margin-top: 80px;
    width: 300px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 7px #E8E8E8;
}

/* Buttons */

.btn {
    background-color: #0090FF;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
  }

.btn:hover {
    color: white;
    background-color: #0077D3;
}

.btn-red {
    background-color: #C80000;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
  }

.btn-red:hover {
    color: white;
    background-color: #AC0000;
}

/* Profile */

.mt-profile {
    margin-top: 10px;
}

/* Index */

.articles-title {
    margin:auto;
    margin-top: 50px;
}

.sort-articles {
    text-align: right;
}

.articles-hr {
    color: black;
    margin: auto;
    margin-top: 70px;
    width: 70%;
}

.container-articles {
    text-align: center;
    padding-bottom: 20px;
}

.card-article {
    width: 337px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 7px #E8E8E8;
    display:inline-block;
    margin-right: 15px;
    margin-top: 15px;
}

/* Admin pages */

.ul-nav-admin {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
    display: table;
}

.li-nav-admin {
    width: auto;
    display: table-cell;
    text-align: center;
}

.li-nav-btn-admin {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li-nav-btn-admin:hover {
    background-color: #F1F1F1;
}

.card-orders {
    margin: auto;
    margin-top: 80px;
    width: 500px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 7px #E8E8E8;
}

.list-cat {
    height:140px;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    overflow:auto;
}


/* Cart */

.card-cart {
    margin: auto;
    margin-top: 80px;
    width: 700px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 7px #E8E8E8;
}

.articles-title{
    text-align: center;
}

.rr{
    margin-top: 30px;
    margin-bottom: -40px;
}