.list{
    list-style: none;
}
ul li{
    display: inline;
}

body{
    background-color: #F4F3F4;
    margin: auto;
}

.box{
    display: flex;
    background-color: white;
}

.one{
    flex: 1 0 500px;
    text-align: left;
    text-transform: uppercase;
}

.one ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.two{
    flex: 0 0 350px;
    text-align: center;
    margin: auto;
}

.three{
    flex: 0 0 90px;
    text-align: left;
    margin: auto;
}

.three a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 3px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.four{
    flex: 0 0 70px; 
    text-align: center;
    margin: auto;
}

.five{
    flex: 0 0 70px;
    text-align: center;
    margin: auto;
}

h1{
    text-align: center;
}

.signupf{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.i1{
    margin: 10px;
}
.i2{
    margin: 10px;
}
.i3{
    margin: 10px;
}
.i4{
    margin: 10px;
}

.signup input {
    width: 90%;
    padding: 10px 0px 10px 20px;
    margin: 8px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(248, 245, 245);
}
  
.signup{
    background-color: white;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.two input {
    width: 30%;
    padding: 10px 0px 10px 20px;
    margin: 8px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(248, 245, 245);
}

p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.i5{
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:5px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 5px;
	text-decoration:none;
    text-shadow:1px 0px 0px #ffffff;
    width: 50%;
    margin:10px auto 10px auto;
}
button:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
button:active {
	position:relative;
	top:1px;
}

.logb{
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:5px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:7px 5px;
	text-decoration:none;
    text-shadow:1px 0px 0px #ffffff;
    width: 50px;
    margin-left: 10px;
}

.logoutb{
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:5px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
    text-shadow:1px 0px 0px #ffffff;
}

.delaccount{
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:5px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
    width: 140px;
	padding:5px 5px;
	text-decoration:none;
    text-shadow:1px 0px 0px #ffffff;
    margin: 10px 20px 10px 20px;
}


